.main-header {
    text-align: center;
    color: #cf0d0d;
    margin: 5px;
}

.recipe-menu {
    color: #cf0d0d;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15;
    font-weight: bold;
    text-align: center;
}

.front-page-image {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 400px;
    border: 2px solid #cf0d0d;
}

.recipe-item{
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 50px;
    padding: 10px;
    width: 350px;
}

.recipe-title{
    margin: 0px;
    text-align: center;
}

.recipe-link{
    border: 3px solid #4b2b02;
    background-color: #e59020;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.recipe-image{
    display: block;
    width: auto;
    height: 200px;
    margin: 0 auto 20px;
}






